.feedback {
  background: #f7f7f7;
  background: url("~@/assets/images/product-mask.png") no-repeat right bottom;
  background-size: contain;
  padding-bottom: 250px;
  &-header {
    
  }
  &-content {
  padding: 0 120px ;

    margin-top: 145px;
    &-title {
      text-align: center;
      .gradient-text {
        font-weight: 500;
        font-size: 52px;
        line-height: 52px;
        margin-bottom: 66px;
      }
      &-desc {
        font-size: 14px;
        color: #666666;
        margin-bottom: 20px;
        font-family: "MiSans-Regular";
      }
    }

    &-form {
      padding: 49px 300px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      .ant-form-item-label {
        font-size: 16px;
        font-weight: 500;
      }
       .ant-form-item {
        margin-bottom: 51px;
        .ant-form-item-label {
          label {
            line-height: 16px;
            height: 16px !important;
            padding-bottom: 15px !important;
          }
        }
      }
      .ant-btn {
        position: relative;
        width: 160px;
        height: 44px;
        border: none;
        border-radius: 33px;
        font-size: 16px;
        font-weight: 500;
        background: linear-gradient( 90deg, #007ECA 0%, #22C55E 100%) !important;
        margin-top: 90px;
        &:hover {
          opacity: 0.8;
        }
        img {
          position: absolute;
          width: 22px;
          right: 20px;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
  }
}
