.advantage-banner {
  position: relative;
  padding: 192px 120px 0;
  width: 1920px;
  height: 966px;
  background: url('./images/bg.png') no-repeat center;
  background-size: 100% 100%;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1136.5px;
    height: 373px;
    background: url('./images/bg2.png') no-repeat top;
    background-size: 100% 100%;
    z-index: -1;
  }

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 840px;
    width: 912px;
    height: 126px;
    background: url('./images/logo.png') no-repeat center;
    background-size: 100% 100%;
    z-index: -1;
  }


  display: flex;
  .advantage-banner-content {
    .advantage-banner-title {
      margin-bottom: 108px;
      margin-top: 10px;
      &-text {
        font-size: 20px;
        color: #007eca;
        margin-bottom: 24px;
      }
      &-company {
        font-family: MiSans, MiSans;
        color: transparent;
        white-space: nowrap;
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
        background-clip: text;
        font-style: normal;
        text-transform: none;
        background-image: linear-gradient(90deg, #007eca 0%, #22c55e 100%);
      }
    }
    .advantage-banner-desc {
      font-weight: 300;
      font-size: 14px;
      color: #333333;
      line-height: 21px;
      margin-bottom: 48px;
    }
    .advantage-banner-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 110px;
      &-item {
        &-num {
          width: 160px;
          color: transparent;
          font-weight: 600;
          font-size: 48px;
          line-height: 60px;
          background-clip: text;
          font-style: normal;
          text-transform: none;
          background-image: linear-gradient(90deg, #007eca 0%, #22c55e 100%);
        }
        &-line {
            width: 160px;
            height: 2px;
            background: linear-gradient( 90deg, #007ECA 0%, #22C55E 100%);
            border-radius: 10px;
            margin-bottom: 25px;
        }
        &-text {
            font-weight: 500;
            font-size: 13px;
            color: #000000;
            line-height: 20px;
        }
      }
    }
  }
  .advantage-banner-bg {
    flex: 0 0 800px;
    width: 800px;
    height: 602px;
    background-color: pink;
    border-radius: 20px;
    margin-left: 208px;
  }
 
}
