.training-service {
  &-header {
    position: absolute !important;
  }

  &-bg {
    position: relative;

    &-img {
      height: 600px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      position: absolute;
      left: 120px;
      bottom: 45px;
      font-weight: 500;
      font-size: 72px;
      color: #ffffff;

      &-desc {
        width: 654px;
        font-weight: 500;
        line-height: 32px;
        font-size: 14px;
        color: #ffffff;
        margin-top: 11px;
        font-style: normal;
        text-transform: none;
      }
    }
  }

  &-content {
    position: relative;
    padding: 199px 0 228px;
    background: url('./images/bg.png') no-repeat center;
    background-size: 100% 100%;
    min-height: 100vh;

    &-item {
      text-align: center;
      margin-bottom: 260px;

      &-title {
        font-weight: 500;
        font-size: 52px;
      }

      &-content {
        display: flex;
        margin-top: 91px;
        padding: 0 227px 0 273px;

        &-left {
          flex: 1;
          text-align: left;

          &-item {
            margin-bottom: 80px;

            .title {
              font-weight: 500;
              font-size: 24px;
              color: #333333;
              line-height: 32px;
            }

            .desc {
              font-weight: 300;
              font-size: 16px;
              color: #333333;
              margin-top: 15px;
              margin-bottom: 45px;
            }

            .tags {
              .tag-title {
                font-weight: 400;
                font-size: 14px;
                color: #666666;
              }

              .tag-content {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 13px;

                div {
                  padding: 7px 12px;
                  margin-right: 21px;
                  font-size: 14px;
                  background: linear-gradient(90deg, #007eca 0%, #22c55e 100%);
                  border-radius: 66px;
                  color: #ffffff;
                }
              }
            }
          }
        }

        &-right {
          width: 638px;
          height: 410px;
          border-radius: 20px;
          margin-left: 254px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: url('~@/assets/images/product-mask.png') no-repeat right bottom;
      background-size: contain;
    }
  }

  .off {
    padding: 0 148px 0 225px;

    .training-service-content-item-content-right {
      margin-left: 0;
    }

    .training-service-content-item-content-left {
      margin-left: 173px;
    }
  }
}


@media screen and (max-width: 768px) {
  .training-service {
    margin-top: 1.5rem;

    .training-service-bg {
      height: 7rem;

      .training-service-bg-img {
        height: 100%;

      }

      .training-service-bg-title {
        left: .4rem;
        bottom: auto;
        top: 3rem;
        width: calc(100% - .8rem);
        font-size: .35rem;
        line-height: 1.4;

        &>div {
          font-size: .9rem;
          line-height: 1.2;
          margin-bottom: .25rem;
        }

        .training-service-bg-title-desc {
          width: 100%;

          .ql-editor {
            font-size: .35rem;
            line-height: 1.4;
          }
        }
      }
    }

    .training-service-content {
      padding: 1rem .4rem 1.5rem;

      .training-service-content-item {
        &:nth-child(even) {
          .training-service-content-item-content {
            flex-direction: column-reverse;
          }
        }
      }

      .training-service-content-item-content {
        width: 100%;
        padding: 0;
        flex-direction: column;

        .training-service-content-item-content-right {
          width: 100%;
          margin-left: 0;
          height: auto;
          border-radius: .25rem;
        }

        .training-service-content-item-content-left {
          width: 100%;
          margin-left: 0;
          margin-top: .5rem;

          &-item {
            margin-bottom: 1rem;

            .title {
              font-size: .6rem;
              line-height: 1.2;
              margin-bottom: .25rem;
            }

            .desc {
              font-size: .45rem;
              line-height: 1.4;
              margin-bottom: .25rem;
            }

            .tags {
              .tag-title {
                margin-bottom: .25rem;
                font-size: .35rem;
              }

              .tag-content {
                &>div {
                  padding: .25rem .5rem;
                  border-radius: 1.25rem;
                  font-size: .35rem;
                }
              }
            }
          }
        }

      }
    }
  }
}