.product-notice-detail {
  padding-bottom: 569px;
  background: url('~@/assets/images/product-mask.png') no-repeat right bottom
    #f7f7f7;
  background-size: contain;
  &-title {
    font-weight: 500;
    font-size: 52px;
    line-height: 52px;
    text-align: center;
    padding-top: 145px;
    padding-bottom: 122px;
    width: 1680px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  &-content {
    padding: 0 269px;
    margin-top: 46px;
  }

  &-btn {
    padding: 0 120px;
    text-align: right;
    .ant-btn {
      text-align: left;
      justify-content: left;
      position: relative;
      padding: 0 22px !important;
      width: 150px;
      height: 44px;
      border: none;
      border-radius: 33px;
      font-size: 16px;
      font-weight: 500;
      background: linear-gradient(90deg, #007eca 0%, #22c55e 100%) !important;
      margin-top: 90px;
      &:hover {
        opacity: 0.8;
      }
      img {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translate(0, -50%);
        width: 22px;
        margin-left: 38px;
      }
    }
  }
}
