.fl-case-banner {
  position: relative;
  padding: 140px 0 180px;
  min-height: 1048px;

  &::after {
    content: '';
    background:
      linear-gradient(
        159.77deg,
        rgba(34, 197, 94, 0) 16.05%,
        rgba(3, 102, 164, 0.5) 47.31%,
        rgba(0, 126, 202, 0) 71.17%
      ),
      linear-gradient(
        180deg,
        rgba(0, 126, 202, 0) 71.06%,
        rgba(0, 126, 202, 0.1) 100%
      );
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    margin-bottom: 64px;
    .fl-case-banner-title {
      font-family: MiSans, MiSans;
      font-weight: 500;
      font-size: 52px;
    }
    .fl-case-banner-btns {
      display: flex;
      align-items: center;
      width: 408px;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE 10+ */

      &::-webkit-scrollbar {
        display: none; /* Chrome Safari */
      }

      .fl-case-banner-btn {
        flex-shrink: 0;
        font-family: MiSans, MiSans;
        font-weight: 500;
        font-size: 16px;
        padding: 12px 20px;
        border-radius: 32px;
        color: #666666;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        &.active {
          opacity: 1;
          color: #ffffff;
          background: linear-gradient(90deg, #007eca 0%, #22c55e 100%);
        }
      }
    }
  }

  &-swiper {
    padding: 0 !important;
    margin-left: 120px;
    .swiper-wrapper {
      margin-top: 80px;
    }
    .swiper-next-btn {
      position: absolute;
      top: calc(50% + 40px);
      left: calc(49vw + 48px);
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 50%;
      opacity: 0.6;
      z-index: 50;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      > div {
        // height: 24px;
        margin-left: 5px;
        margin-top: 5px;
      }
    }
    .fl-case-banner-swiper-item {
      width: 460px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 540px !important;
      border-radius: 20px;
      height: 100%;
      transition: all 0.3s;
      overflow: hidden;
      .fl-case-banner-swiper-img {
        width: 49vw;
        height: 100%;
        display: flex;
        justify-content: center;
        img {
          width: 100% !important;
          width: 100%;
          height: 100%;
          user-select: none;
          // 禁止拖拽
          -webkit-user-drag: none;
          border-radius: 20px;
        }
      }

      &.swiper-slide-prev {
        animation: fadeOutAnimation 0.5s forwards;

        // opacity: 0.3;
        // animation: fadeOutAnimation 0.5s forwards;
      }
      .fl-case-banner-swiper-content {
        position: absolute;
        top: 395px;
        left: 0;
        right: 0;
        width: 100%;
        font-weight: 600;
        font-size: 22px;
        color: #ffffff;
        overflow: hidden;
        .fl-case-banner-swiper-content-title {
          transform: translate(0, 95px);
          line-height: 22px;
          transition: transform 0.5s;
          margin-left: 40px;
        }
        .fl-case-banner-swiper-content-line {
          width: 860px;
          height: 1px;
          background-color: rgba(217, 217, 217, 0.2);
          margin: 20px auto 20px;
          opacity: 0;
          transition: opacity 0.5s;
        }
        .fl-case-banner-swiper-content-desc {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 14px;
          color: #ffffff;
          font-weight: 400;
          line-height: 20px;
          width: 940px;
          padding: 0 40px;
          transform: translate(100px, 300px);
          opacity: 0;
          transition: all 0.5s;

          .fl-case-banner-swiper-content-desc-text {
            width: 440px;
          }
          .fl-case-banner-swiper-content-desc-tags {
            display: flex;
            align-items: center;
            .fl-case-banner-swiper-content-desc-tag {
              font-size: 36px;
                line-height: 36px;
              text-align: center;
              margin-left: 60px;
              .fl-case-banner-swiper-content-desc-tag-num {
                font-weight: 700;
                margin-bottom: 4px;
              }
              .fl-case-banner-swiper-content-desc-tag-text {
                font-size: 13px;
                line-height: 13px;
              }
            }
          }
        }
      }

      &.swiper-slide-active {
        animation: fadeInAnimation 0.5s forwards;

        .fl-case-banner-swiper-content-title {
          transform: translate(0, 0);
          // margin-left: 0;
        }
        .fl-case-banner-swiper-content-line {
          opacity: 1;
        }
        .fl-case-banner-swiper-content-desc {
          transform: translate(0, 0);
          opacity: 1;
          transition: opacity 2s;
          display: flex;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          // filter: blur(3px);
          background:
            linear-gradient(
              180deg,
              rgba(0, 0, 0, 0.2) 0%,
              rgba(0, 0, 0, 0) 30.65%
            ),
            linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 62.69%,
              rgba(0, 0, 0, 0.6) 100%
            ),
            linear-gradient(
              180deg,
              rgba(0, 0, 0, 0.2) 0%,
              rgba(0, 0, 0, 0) 30.65%
            ),
            linear-gradient(360deg, #007eca 2.31%, rgba(0, 126, 202, 0) 44.26%);
        }
      }
    }
    .swiper-pagination-progressbar {
      width: calc(100% - 120px);
      border-radius: 10px;
      background-color: rgba(153, 153, 153, 0.1);
      overflow: hidden;
      .swiper-pagination-progressbar-fill {
        background: linear-gradient(90deg, #007eca 0%, #22c55e 100%);
        border-radius: 10px;
      }
    }
    .fade-out {
      animation: fadeOutAnimation 0.5s forwards;
    }

    .fade-in {
      animation: fadeInAnimation 1s forwards;
    }
    @keyframes fadeInAnimation {
      0% {
        // transform: translate(0 0);
      }
      20% {
        // transform: translate(-30%, 0);
      }
      100% {
        // transform: translate(-100%, 0);
        width: 49vw;
        margin-left: 0;
      }
    }

    @keyframes fadeOutAnimation {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }
}
