.fl-news {
  background: #f7f7f7;
  &-header {
    position: absolute;
  }
  &-banner {
    position: relative;
    height: 860px;
    background: #eee;
    &-title {
      position: absolute;
      left: 120px;
      bottom: 120px;
      font-weight: 500;
      font-size: 72px;
      color: #ffffff;
    }
  }
  &-content {
    padding: 120px;
    &-key {
      &-title {
        font-weight: 500;
        font-size: 52px;
        padding-bottom: 41px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }
    }
  }
}
