.fl-header {
  position: relative;
  padding: 0 120px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) -25.83%,
    rgba(0, 0, 0, 0) 100%
  );
  // min-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 110;
  // backdrop-filter: blur(10px);

  &-logo {
    width: 265px;
    height: 26px;
    cursor: pointer;
    background: url('~@/assets/images/logo.png') no-repeat center;
    background-size: 100% 100%;
    &.fl-header-logo-hover,
    &:hover {
      background: url('~@/assets/images/logo-active.png') no-repeat center;
      background-size: 100% 100%;
    }
  }
  &-menu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    color: #fff;
    &-item {
      margin-left: 48px;
      display: flex;
      align-items: center;
      // height: 100%;
      cursor: pointer;
      .menu-title {
        position: relative;
        margin-right: 8px;
        font-family: 'MiSans-Medium';
        &::after {
          position: absolute;
          left: 0;
          bottom: -5px;
          content: '';
          width: 0;
          height: 2px;
          background-color: #007eca;
          transition: all 0.3s;
        }
      }

      .menu-icon {
        width: 18px;
        height: 18px;
        background: url('~@/assets/images/down-arrow.png') no-repeat center;
        background-size: 100% 100%;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &-right {
    display: flex;
    align-items: center;
    &-logo {
      width: 152px;
      height: 26px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &-search,
    &-locale {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      margin-left: 30px;
      margin-right: 20px;
      background-color: rgba(255, 255, 255, 0.2);
      cursor: pointer;
      div {
        display: flex;
        align-items: center;
        height: 100%;
      }
      &:hover {
        background-color: rgb(240, 240, 240);
        path {
          stroke: #007eca;
        }
      }
    }
    &-locale {
      margin-left: 0;
      margin-right: 0;
    }
  }
  &-dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #fff;
    max-height: 0;
    transition: all 0.3s;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    // display: none;
    &-menus {
    }
  }
  .fl-header-cascader-box {
    display: flex;
    // align-items: center;
  }
  .fl-header-cascader-swiper {
    flex: 0 0 400px;
    width: 400px;
    height: 300px;
    img {
      border-radius: 20px;
      width: 400px;
      height: 280px;
      object-fit: contain;
    }
    .swiper-pagination-bullet-active {
      background: linear-gradient(90deg, #007eca 0%, #22c55e 100%);
    }
  }
  .fl-header-cascader-menus {
    min-height: 270px;
    padding: 12px 60px;
    border-right: 1px solid #666;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: none;
    }
    &-menu {
      display: flex;
      margin-bottom: 35px;
      &.active {
        color: #007eca;
        .fl-header-cascader-menus-menu-title {
          color: #007eca;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &-title {
        flex: 1;
        display: flex;
        align-items: center;
        font-family: MiSans, MiSans;
        font-weight: 500;
        font-size: 16px;
        color: #666666;
        min-width: 76px;
        margin-right: 35px;
      }

      &:hover {
        cursor: pointer;
        color: #007eca;
        .fl-header-cascader-menus-menu-title {
          color: #007eca;
        }
      }
    }
    &.fl-header-cascader-menus-level-3 {
      border-right: none;
    }
  }

  &.fl-header-hover {
    background: #fff;
    transition: all 0.3s;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 10px;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05);
      pointer-events: none;
    }

    .fl-header-menu {
      color: #666666;
      path {
        stroke: #666666;
      }

      &-item {
        user-select: none;
        &.active {
          .menu-title {
            color: #007eca;

            &::after {
              width: 100%;
            }
          }

          .menu-icon {
            background: url('~@/assets/images/down-arrow-active.png') no-repeat
              center;
            background-size: 100% 100%;
          }
        }
      }
      .fl-header-dropdown {
        max-height: 600px;
        padding: 42px 120px;
        color: #666666;
      }
    }

    .fl-header-logo,
    .logo-icon {
      path {
        fill: #007eca;
      }
    }
    .fl-header-right-search,
    .fl-header-right-locale {
      background-color: rgb(240, 240, 240);
      path {
        stroke: #007eca;
      }
    }
  }

  &.fl-header-light {
    background: #fff;
    // box-shadow: 0px 2px 10px 4px rgba(0,0,0,0.06);
    transition: all 0.3s;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 10px;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05);
      pointer-events: none;
    }
    .fl-header-logo {
      background: url('~@/assets/images/logo-active.png') no-repeat center;
      background-size: 100% 100%;
    }
    .fl-header-menu {
      color: #666666;
      path {
        stroke: #666666;
      }

      &-item {
        user-select: none;
        &.active {
          color: #007eca;

          .menu-title {
            &::after {
              width: 100%;
            }
          }
          path {
            stroke: #007eca;
          }
        }
        .menu-icon {
          background: url('~@/assets/images/down-arrow-black.png') no-repeat
            center;
          background-size: 100% 100%;
        }
      }
    }

    .fl-header-logo,
    .logo-icon {
      path {
        fill: #007eca;
      }
    }
    .fl-header-right-search,
    .fl-header-right-locale {
      background-color: rgb(240, 240, 240);
      path {
        stroke: #007eca;
      }
    }
  }
}
