.fl-footer {
  padding: 110px 120px 0;
  &-content {
    display: flex;
    justify-content: space-between;
    height: 340Px;
  }
  .fl-footer-links {
    display: flex;
    justify-content: space-between;
    width: 860px;
    .fl-footer-list {
        padding: 0;
        margin: 0;
      &-title {
        font-weight: 600;
        font-size: 16Px;
        color: #000000;
        line-height: 20Px;
        margin-bottom: 16Px;
      }
      &-item {
        font-weight: 400;
        font-size: 14Px;
        color: rgba(0, 0, 0, 0.6);
        line-height: 28Px;
        cursor: pointer;
        &:hover {
          color: #007eca;
        }
      }
    }
  }
  .fl-footer-copyright {
    width: 396Px;
    height: 292Px;
    background: url("~@/assets/images/footer-logo.png") no-repeat center;
    background-size: 100% 100%;
  }

  &-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .fl-footer-contact-wrapper {
        width: 860px;
        line-height: 60Px;
      
    }
    .fl-footer-contact {
        display: flex;
        align-items: center;
        font-size: 14Px;
        color: #000;
        border-top: 1px solid #E6E6E6;
        border-bottom: 1px solid #E6E6E6;
        > div {
            margin-left: 70px;
            white-space: nowrap;
            &:first-child {
                margin-left: 0;
            }
            a {
                color: #000;
            }
        }
    }
    .fl-footer-exlink {
         font-size: 14Px;
         color: #999999;
       a {
         font-size: 14Px;
         color: #999999;
       }
       .fl-footer-icp {
        margin-top: 16px;
        margin-bottom: 30px;
        text-align: right;

       }
    }
    .fl-footer-address {
      font-size: 14Px;
      color: #000;
      line-height: 66px;
    }
  }
  .fl-footer-friend-link, .fl-footer-icp {
    font-family: "MiSans-Regular";
  }
}

@media (max-width: 768px) {
  .fl-footer .fl-footer-copyright {
    width: 100%;
    height: 2rem;
    background-image: url(../../assets/images/footer.png);
    margin-bottom: .5875rem;
  }

  .fl-footer {
    width: 100%;
    padding: 1rem 0 0;

    .fl-footer-content {
      padding: 0 .4rem;
      flex-direction: column-reverse;
      height: auto;

      .fl-footer-links {
        display: none;
      }
    }

    .fl-footer-footer {
      display: block;
      .fl-footer-contact-wrapper {
        width: 100%;
        padding: 0 .4rem 1rem;
        line-height: normal;
      }

      .fl-footer-contact {
        display: block;
        width: 100%;
        border: none;
        div {
          margin-left: 0;
          margin-bottom: .5rem;
          line-height: 1.5;
          color: #666;
          p {
            font-size: .45rem;
            color: #000;
            margin-bottom: .15rem;
          }
        }
      }

      .fl-footer-exlink {
        width: 100%;
        background-color: #E5E5E5;
        padding:.375rem .4rem;
        .fl-footer-icp{
          text-align: left;margin-top: .25rem;
          margin-bottom: 0;
        }
      }
    }
  }

}