.fl-product-banner {
  position: relative;
  --swiper-pagination-bottom: 7%;
  --progressWidth: 0;

  .fl-product-banner-img {
    position: relative;
    width: 100%;
    background: #eee;
    height: 1080px;

    img {
      width: 100%;
      height: 100%;
    }

    .fl-product-banner-title {
      position: absolute;
      top: 31%;
      left: 6%;
      font-family: "MiSans-Medium";
      font-weight: 500;
      font-size: 52px;
      color: #ffffff;
      line-height: 52px;
    }

    .fl-product-banner-desc {
      font-family: "MiSans-Regular";
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
      line-height: 24px;
      max-width: 550px;
      margin: 68px 0;
    }

    .fl-product-banner-link {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      cursor: pointer;
      width: 148px;
      height: 48px;
      font-size: 16px;
      border-radius: 30px;
      background-color: #fff;
      display: flex;
      align-items: center;

      .fl-product-banner-link-text {
        font-weight: 500;
        /* 设置字体透明 */
        color: transparent;
        /* 设置线性渐变，从红色渐变到蓝色 */
        background-image: linear-gradient(90deg, #007eca 0%, #22c55e 100%);

        /* 使用 -webkit-background-clip 属性将背景剪裁至文本形状 */
        -webkit-background-clip: text;
        /* 非Webkit内核浏览器需要使用标准前缀 */
        background-clip: text;
        /* 把当前元素设置为行内块，以便能够应用背景 */
        display: inline-block;
        margin-left: 26px;
      }

      .fl-product-banner-link-arrow {
        position: absolute;
        right: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 136px;
        transition: all 0.3s;
        background: linear-gradient(90deg, #007eca 0%, #22c55e 100%);

        &::after {
          position: absolute;
          right: 14.5px;
          content: '';
          display: flex;

          width: 15px;
          height: 15px;
          background: url('../../assets/images/right-arrow.png') no-repeat center;
        }
      }

      &:hover {
        .fl-product-banner-link-text {
          position: relative;
          color: #fff;
          z-index: 100;
          transition: all 0.3s;
        }

        .fl-product-banner-link-arrow {
          width: calc(100% - 4px);
        }
      }
    }
  }

  .fl-product-banner-pagination {
    position: absolute;
    left: 0;
    bottom: 80px;
    right: 0;
    width: 88%;

    .swiper-slide-thumb-active {
      .fl-product-banner-title {
        opacity: 1 !important;
        font-weight: 500;
      }
    }

    .fl-product-banner-slide {
      padding-right: 30px;
      cursor: pointer;

      &:hover {
        .fl-product-banner-title {
          opacity: 1 !important;
        }
      }

      .fl-product-banner-title {
        font-size: 20px;
        line-height: 48px;
        font-family: Montserrat, Montserrat;
        color: #fff;
        opacity: 0.4;
      }

      .fl-product-banner-progress {
        position: relative;
        height: 4px;
        width: 100%;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 10px;

        .fl-product-banner-progress-bullet {
          position: absolute;
          height: 100%;
          width: 0;
          border-radius: 10px;
        }

        .swiper-pagination-bullet-active {
          width: var(--progressWidth);
          background-color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .fl-product-banner {
    .fl-product-banner-img {
      height: calc(100vh);

      .fl-product-banner-title {
        top: 1.5rem;
        left: .4rem;
        font-size: .9rem;
        width: auto;
        line-height: 1.2;
        max-width: calc(100% - .8rem);

        .fl-product-banner-desc {
          font-size: .45rem;
          max-width: none;
          line-height: 1.5;
        }

        .fl-product-banner-link {
          width: 3.25rem;
          height: 1rem;
          border-radius: 1.25rem;
          padding: 0 .25rem;
          margin-top: 1rem;

          .fl-product-banner-link-text {
            font-size: .35rem;
          }

          .fl-product-banner-link-arrow {
            width: .65rem;
            height: .65rem;

            &::after {
              width: .45rem;
              height: .45rem;
              background-size: 100% 100%;
            }
          }

          &:hover {
            .fl-product-banner-link-arrow {
              width: calc(100% - .1rem);
              height: calc(100% - .1rem);
            }
          }
        }
      }

    }

    .fl-product-banner-pagination {
      bottom: .7rem;

      .fl-product-banner-slide {
        .fl-product-banner-title {
          font-size: .35rem;
          line-height: 1.2;
        }

        .fl-product-banner-progress {
          height: .05rem;

        }
      }
    }

  }

}